I. Python basics

In [1]:
print('the year the company was established is 1996')

the year the company was established is 1996

In [2]:
print('the year the company was established is', 1996)

the year the company was established is 1996

In [3]:
print('My name is Nadia and I am', 26, 'years old')

My name is Nadia and I am 26 years old

In [4]:
print('My name is Nadia, and I am 26 years old')

My name is Nadia, and I am 26 years old

In [21]:
person_name ='Nadia' #a variable should be clearly understandanble by someone else other than me, contains only alpha numeric character (A-Z, a-z, 0-9), is case sensitive, and must not start with a number, and must only contain _
print('Her name is', person_name)

Her name is Nadia

In [13]:
company_name='Car Sons Ltd.' #text or string must always be stored within quotes, single or double
print('The name of the company is', company_name)

The name of the company is Car Sons Ltd.

In [14]:
year_born=1992 #numeric such as numbers and decimals should be stored without quotes. otherwise it will be interpreted as a string/text
print('Nadia is born in',year_born)

Nadia is born in 1992

In [15]:
year_born

1992

In [16]:
company_name

'Car Sons Ltd.'

In [20]:
person_name

'Nadia'

In [29]:
x = y = z = 10 #it is possible to define multiple variables in only 1 line of code instead of 3 lines

In [30]:
x

10

In [31]:
y

10

In [32]:
z

10

In [33]:
a='Nadia'

In [34]:
a

'Nadia'

In [3]:
a,b,c = 4, 5, 'Nadia' #it is possible to define multiple variables in only 1 line of code instead of 3 lines

In [36]:
a

4

In [37]:
b

5

In [38]:
c

'Nadia'

In [39]:
a
b
c #but if we run multiple variables in the same cell of code instead of 3 separate cells, it will only give the output of the last line of code within the cell

'Nadia'

In [4]:
print('a=',a)
print('b=',b)
print('c=',c) #however, whenver there is a "print" statement before every line of code, it will give all the outputs of all the lines of code

a= 4
b= 5
c= Nadia

In [40]:
type(a) #this function helps me determine the type of variable I have. a number (integer or float)

int

In [41]:
type(c) #this function helps me determine the type of variable I have. a string (text or character)

str

In [42]:
a=-5 #this number is an integer
b=12.5 #this number is a float

In [43]:
type(a)

int

In [44]:
type(b)

float

In [12]:
print('a=',type(-5))
print('b=',type(12.5))
print('c=',type('Nadia'))

a= <class 'int'>
b= <class 'float'>
c= <class 'str'>

In [45]:
x=3+4j #this is a complex function or number

In [46]:
x

(3+4j)

In [47]:
type(x)

complex

In [48]:
type(person_name)

str

In [19]:
a='Nadia'
b='Toguem'
c=a+b #the sign ''+'' allows concatenation of 2 strings
d=a*10 #the sign ''*'' allows repetition or multiplication of the string 10 times

In [57]:
c

'NadiaToguem'

In [59]:
d

'NadiaNadiaNadiaNadiaNadiaNadiaNadiaNadiaNadiaNadia'

In [60]:
a*10 #the sign ''*'' allows repetition or multiplication of the string 10 times

'NadiaNadiaNadiaNadiaNadiaNadiaNadiaNadiaNadiaNadia'

In [61]:
a+a #the sign ''+'' allows concatenation of 2 strings

'NadiaNadia'

In [35]:
print('Je mappelle' +a +b,'et je suis belle')

Je mappelleNadiaToguem et je suis belle

In [62]:
a[0:5] #this is an index

'Nadia'

In [63]:
a[2]

'd'

In [64]:
a[-2]

'i'

In [65]:
a[0]

'N'

In [66]:
a[1]

'a'

In [67]:
a[4]

'a'

In [69]:
a[-1]

'a'

In [6]:
1<2
type(1>2)

bool

In [8]:
print(1>2)
print(1<2)

False
True

In [74]:
var=True #the boolean 'True' and 'False' are case sentitive so make sure to put the majuscule at the beginning
type (var)

bool

In [77]:
int(12.8) #this function help change the type of variable from float to integer

12

In [84]:
float("10") #this function help change the type of variable from integer to float, even if the number is in quotation

10.0

In [80]:
float(4+5j)

TypeError: can't convert complex to float

In [82]:
float('nadia')

ValueError: could not convert string to float: 'nadia'

In [85]:
print(a)

Nadia

In [86]:
print(var)

True

In [87]:
a #there are 2 ways to print a line of code: either by entring the variable, or by adding 'print' before the variable

'Nadia'

In [88]:
var

True

In [16]:
name=input('what is your name?:') #an input helps the user put anything he wants in an empty cell box. but if we want to use that input in the future, we put that input in a variable, here the variable is called "name"

what is your name?:Nadia

In [17]:
print('Hello',name) #the variable we created with that input, helped us print the name previously stored in the variable

Hello Nadia

In [36]:
name= input('what is your name?: ')
age= int(input('what is your age?: '))
height= float(input('how tall are you?: '))

print('Hello, your name is:', name)
print('Hello', +name+, 'you are' +str(age)+ 'years old') #the error here is that I concatenate the variable which I musn't
print('And you are' +str(height)+ 'cm tall')

SyntaxError: invalid syntax (3850831721.py, line 6)

In [38]:
name= input('what is your name?: ')
age= int(input('what is your age?: '))
height= float(input('how tall are you?: '))

what is your name?: Nadia
what is your age?: 30
how tall are you?: 66.5

In [53]:
print('Hello, your name is:', name)
print('Hello '+name)

Hello, your name is: Nadia
Hello Nadia

In [57]:
print('Hello', name, 'you are ' +str(age)+ ' years old')
print('Hello '+name, 'you are ' +str(age)+ ' years old') #either you use the + sign or the , sign to concatenate.

Hello Nadia you are 30 years old
Hello Nadia you are 30 years old

In [60]:
print('Hello '+name, 'you are ' +str(age)+ ' years old and you are ' +str(height)+ ' cm tall') #after and before a variable you can put a coma','. but Just use the coma , or the plus + don´t mix them

Hello Nadia you are 30 years old and you are 66.5 cm tall

In [66]:
print(age+1)
print(age*10)

31
300

II. Data Structures

In [29]:
name_list=['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé', 'Elie']
print(name_list)
print(name_list[0])
print(name_list[-1])
print(name_list[3])
print(name_list[5])
print(name_list[-3])

['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé', 'Elie']
Nadia
Elie
Frank
Elie
Frank

In [86]:
print(name_list[:2]) #gives the first 2 elements of the list
print(name_list[:-2]) #gives the elements before (and not including) the -2 index of the list
print(name_list[:-1]) #gives the elements starting before (and not including) the -1 indexe of the list
print(name_list[2:]) #gives all the elements starting from index 2 to the end of the list

['Nadia', 'Joelle']
['Nadia', 'Joelle', 'Cedric', 'Frank']
['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé']
['Cedric', 'Frank', 'Chloé', 'Elie']

In [63]:
name_list[2:5:4] #output les valeurs comprises entre Index 2 et 5 en sautant de 3 positions après chaque valeur

['Cedric']

In [60]:
Lst = [50, 70, 30, 20, 90, 10, 50]
print(Lst[::]) #ceci équivaut aussi a ceci print(Lst[-7::1]), et à ceci print(Lst[:])
print(Lst[-7:-1])
print(Lst[::2]) #output les valeurs en les sautant d'1e valeur a chaque fois ou en faisant un IndexJump de 2
print(Lst[1:7:2]) #output les valeurs comprises entre Index 1 et 7 en sautant de 1 position après chaque valeur
print(Lst[0:7:3]) #output les valeurs comprises entre Index 0 et 7 en sautant de 2 positions après chaque valeur

[50, 70, 30, 20, 90, 10, 50]
[50, 70, 30, 20, 90, 10]
[50, 30, 90, 50]
[70, 20, 10]
[50, 20, 50]

In [97]:
name_list[3]='André' #if I want to modify or change the 4th name on the list
print(name_list)
name_list[-1]='Hélène' #if I want to modify or change the last name on the list
print(name_list)

['Nadia', 'Joelle', 'Cedric', 'André', 'Chloé', 'Hélène']
['Nadia', 'Joelle', 'Cedric', 'André', 'Chloé', 'Hélène']

In [106]:
print(name_list[:]) #it will print all the elements of the list
print(name_list[0:4]) #same result if print(name_list[:4])
print(name_list[1:5])
print(name_list[2:3])
print(name_list[1:5:2]) #output les valeurs comprises entre Index 1 et 5 en sautant de 2 positions après chaque valeur

['Nadia', 'Joelle', 'Cedric', 'André', 'Chloé', 'Hélène']
['Nadia', 'Joelle', 'Cedric', 'André']
['Joelle', 'Cedric', 'André', 'Chloé']
['Cedric']
['Joelle', 'André']

In [107]:
name_list.remove(name_list[-1]) #it will remove the last element from the list
name_list

['Nadia', 'Joelle', 'Cedric', 'André', 'Chloé']

In [109]:
name_list.remove(name_list[2]) #it will remove the 3rd element from the list
name_list

['Nadia', 'Joelle', 'André', 'Chloé']

In [4]:
name_list=['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé', 'Elie']
name_list.remove('Elie')
name_list

['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé']

In [5]:
name_list.pop() #it removes the last item of the list, unless you specify with an index
name_list

['Nadia', 'Joelle', 'Cedric', 'Frank']

In [7]:
name_list=['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé', 'Elie']
name_list.pop(3) #it removes the index 3 or 4th element of the list which is 'Frank'
name_list

['Nadia', 'Joelle', 'Cedric', 'Chloé', 'Elie']

In [6]:
name_list.reverse() #it reverses the list from end to start
name_list

['Frank', 'Cedric', 'Joelle', 'Nadia']

In [30]:
my_list = [34, "Great", 60.7, True, "Data", "Great"]
my_list.remove("Great") #It will search and remove only the first occurrence of an item
my_list

[34, 60.7, True, 'Data', 'Great']

In [11]:
price_list = [900, 899, 600, 1000]
print(min(price_list))
print('The minimum price is $',min(price_list),sep='')
print('The minimum price is $',str(min(price_list)),sep='')
print('The minimum price is $' + str(min(price_list)),sep='') #is it necessary to string the number before printing it?
print('The maximum price is $',max(price_list),sep='')

600
The minimum price is $600
The minimum price is $600
The minimum price is $600
The maximum price is $1000

III. TUPLES

In [27]:
my_list = [34, "Great", 60.7, True, "Data", "Great"]
print('There are',my_list.count('Great'),'Great in my list')

my_tuple = ('Nadia','Chloé','Cedric','Nadia','Michel','Nadia')
print('There are',my_tuple.count('Nadia'),'Nadia in my tuple')

There are 2 Great in my list
There are 3 Nadia in my tuple

In [13]:
print(my_list.index("Great")) #it searches and give the index position of the 1st occurence of the value
print(my_tuple.index('Nadia')) #it searches and give the index position of the 1st occurence of the value

1
0

In [16]:
print(sorted(my_list)) #you can't sort/trier les chiffres(nombres) et les lettres(texte)

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
X=(20,23,-50,5.6,98)
X.pop()
print(X) #you can't modify, delete or pop any value in a tuple unlike lists where you can

AttributeError: 'tuple' object has no attribute 'pop'

In [17]:
print(sorted(my_tuple)) #you can sort either numeric values or string values, not both

['Cedric', 'Chloé', 'Michel', 'Nadia', 'Nadia', 'Nadia']

In [20]:
my_list.pop(2) #it pops out 60.7
print(my_list)

[34, 'Great', True, 'Data', 'Great']

IV. DICTIONNARY

In [22]:
my_dictionnary={1:'Nadia',2:'Cedric',3:'Chloé'}
my_balance={'Cedric':50327,'Nadia':31237,'Chloé':1500}

print(my_dictionnary[1]) #it will give me the value of the key number (1) entered
print(my_balance['Chloé']) #it will give me the value of the key number (Chloé) entered

Nadia
1500

In [25]:
my_balance['Michel']=150450 #this is how you append/add a key and a value in a dictionnary. it will look for Michel in the dictionnary, and if it did not find it, it will add it
my_balance

{'Cedric': 50327, 'Nadia': 31237, 'Chloé': 1500, 'Michel': 150450}

In [26]:
my_balance['Nadia']=30500 #this is how you modify/change a value to an existing key in a dictionnary.
my_balance

{'Cedric': 50327, 'Nadia': 30500, 'Chloé': 1500, 'Michel': 150450}

In [42]:
#when you have multiple lists in a dictionnary, how do you get a value of a specific key?
list_dictionnary = {'Name list': name_list, 'Courses': my_list}
print(list_dictionnary)

{'Name list': ['Nadia', 'Joelle', 'Cedric', 'Frank', 'Chloé', 'Elie'], 'Courses': [34, 60.7, True, 'Data', 'Great']}

In [35]:
list_dictionnary = {'Name list': name_list, 'Courses': my_list}
list_dictionnary['Courses'][3] #this is how we get a value of a specific key using index

'Data'

In [40]:
type(my_balance)

dict

In [43]:
list_dictionnary.pop('Courses')

[34, 60.7, True, 'Data', 'Great']

V. SETS

In [34]:
my_example={'a','b','c','d','c','a'}
print('This is a', type(my_example))
print(my_example) #this only prints each element of the set once, without repeating it. AND it will print first the 1st string which is alone before printing the elements which are multiple
print(sorted(my_example)) #it prints each element distinct of the set sorted

This is a <class 'set'>
{'b', 'd', 'a', 'c'}
['a', 'b', 'c', 'd']

In [35]:
my_example.pop()

'b'

In [41]:
my_set={3,5,2,1,3,1,6,5,7,8,9}
print(my_set) #with numbers, it will print only one of each number sorted du plus petit au plus grand
print(sorted(my_set)) #same result as above since it already sorts out the numbers

{1, 2, 3, 5, 6, 7, 8, 9}
[1, 2, 3, 5, 6, 7, 8, 9]

VI. CONDITIONAL STATEMENTS

In [42]:
a = 50
b = 10
if a<b:
 print("Hi")
else:
 print("Bye")

Bye

In [54]:
a = 5
b = 10
if a<b:
    if a>0:
        print("it's greater than 0")
    else:
        print ("it's less than 0")
else:
 print("Bye")

it's greater than 0

In [55]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

In [56]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your useridnalika
enter your passwordpassword
Please check your userid and password

In [46]:
a=b=TRUE
if a==b:
    print('a=b')
else:
    print('a!=b')

NameError: name 'TRUE' is not defined

VII. LOOPS

c'est comme si je commence a comprendre.
FOR LOOP is OK,
WHILE LOOP is NOK

In [75]:
#OK
# List of numbers
numbers = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 2068

In [1]:
#OK, i prends uniquement la valeur des KEYS dans un dictionnaire
name_age = {'Jack':20, 'Summer':25, 'June':30}
for i in name_age:
  print(i)

Jack
Summer
June

In [62]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

In [57]:
sum = 0
i=1
while i<6:
  sum = sum + i
  i += 1
print("The sum is =", sum)

The sum is = 15

In [58]:
i=1
while i<6:
  print("i is =", i)
  i+=1

i is = 1
i is = 2
i is = 3
i is = 4
i is = 5

In [59]:
#OK
list_1 = [1, 2, 3, 4, 5]
mul = 1
for i in list_1:
  mul = mul*i
print("The multiplication is =", mul)

The multiplication is = 120

Here, the variable "mul" is used to iterate over the elements of the list_1(1,2,3,4,5), which is a sequence of numbers from 1 to 5 (5 is inclusive). For each iteration of the for loop, Python will multiply the value stored in the variable i to the variable mul.
Iteration 1: mul = 1 * i = 1 * 1 = 1
Iteration 2: mul = 1 * i = 1 * 2 = 2
Iteration 3: mul = 2 * i = 2 * 3 = 6
Iteration 4: mul = 6 * i = 6 * 4 = 24
Iteration 5: mul = 24 * i = 24 * 5 = 120
Once all the iterations are completed, the final value of the variable sum will be printed.

In [60]:
#OK
list_1 = [1, 2, 3, 4, 5]
for i in list_1:
  print("i =", i)

i = 1
i = 2
i = 3
i = 4
i = 5

# explications loop
## 1. range

The range() function is used to generate a sequence of numbers equidistant from each other. It takes 3 parameters, start, stop, and step. Stop is a mandatory parameter and by default, start is set to 0 and step is set to 1. So, range(6) will give the same output as range(0,6).

In [73]:
#la function "list" est nécessaire pour afficher les résultats de range
print(list(range(0,6)))#comme pour les index, output les valeurs comprises entre 0 et 6 non-inclus
print(range(6))
print(range(0,6))
print(list(range(5,25,5))) #comme pour les index, output les valeurs comprises entre 5 et 25 non-inclus, en les sautant de 4 positions ou en prenant les valeurs multiples de 5

[0, 1, 2, 3, 4, 5]
range(0, 6)
range(0, 6)
[5, 10, 15, 20]

## 2. for loop

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a mandatory specified number.

In [70]:
for i in range(0,6): #meaning that, for every value comprise between 0 and 6, 'i' will tke each of these value and print an output
    print('i =', i)
    
#il faut toujours mettre le ':' et faire l'indentation quand on passe à la ligne
#mais, pourquoi on ne dit pas "in list(range(0,6))" ?

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5

In [74]:
sum = 0
for number in range(1,5):
    sum = sum + number
print(sum)

10

Here, the variable "number" is used to iterate over the elements of the range(1,5), which is a sequence of numbers from 1 to 4 (as 5 is exclusive). For each iteration of the for loop, Python will add the value stored in the variable number to the variable sum.
Iteration 1: sum = 0 + number = 0 + 1 = 1
Iteration 2: sum = 1 + number = 1 + 2 = 3
Iteration 3: sum = 3 + number = 3 + 3 = 6
Iteration 4: sum = 6 + number = 6 + 4 = 10
Once all the iterations are completed, the final value of the variable sum will be printed.

In [79]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

## 3. while loop

In [76]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))

1
2
3
4
5

The length of the variable x is 5 so loop will be executed 5 times. Following will be the operation during each loop,

iteration1: x=[1, 2, 3, 4, 5] with pop(0) the element of the list with index 0 will get pop out and printed as 1
iteration1: x=[2, 3, 4, 5] with pop(0) the element of the list with index 0 will get pop out and printed as 2
iteration1: x=[3, 4, 5] with pop(0) the element of the list with index 0 will get pop out and printed as 3
iteration1: x=[4, 5] with pop(0) the element of the list with index 0 will get pop out and printed as 4
iteration1: x=[5] with pop(0) the element of the list with index 0 will get pop out and printed as 5

In [77]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))

1
2
3
4
5

The initial value of variable "i" is 5 and during every iteration of while loop, its value will be subtracted by 1. So, for the first loop, it will be 5 then 4, 3, 2, 1. After five iterations, the value of the variable "i" will be 0. At this point, the condition of the while loop will not be satisfied and the loop will terminate. Hence, the given loop will run for 5 iterations.

In [ ]:
name = str(input('Enter your name: '))

VIII. BREAK STATEMENTS

rien compris non plus

In [63]:
list_1 = [1, 2, 3, 4, 5]
for val in list_1:
  if val == 4:
    break
  print(val)

1
2
3